@model KeepPark.Models.Site

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Site</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiteDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SitePhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SitePhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PricePerHour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PricePerHour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SiteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
