

@model KeePark.Models.ParkingSpot

@{
    ViewBag.Title = "Spot Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoPath = "~/SpotImages/" + (Model.filePath ?? "noimage.jpg");
}

<style>
    #map {
            height: 400px; /* The height is 400 pixels */
            width: 500px; /* The width is the width of the web page */
        }
    .mycard {
        size: 20rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 200px;
        align-items: stretch;
    }
</style>
<div class="grid">
    <div class="mycard">
        <div class="card">
            <div class="card-header">
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" height="400" width="500" />

                <dt>
                    @Html.DisplayNameFor(model => model.SpotName): @Html.DisplayFor(model => model.SpotName)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.OwnerID): @Html.DisplayFor(model => model.OwnerID)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.NunOfOrders): @Html.DisplayFor(model => model.NunOfOrders)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.filePath):  @Html.DisplayFor(model => model.filePath)
                </dt>

                <dt>
                    Spot ID: @Model.ParkingSpotID
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price)
                </dt>


            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    <div class="card">

        <!--The div element for the map -->
        <div id="map"></div>
        <script>
            // Initialize and add the map
            var geocoder;
            var map;
            var address = "Mexico";

        function initMap() {
            geocoder = new google.maps.Geocoder();
            var uluru = {lat: 31.771959, lng: 35.217018};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
            codeAddress(address);
        }
            
        function codeAddress(geocoder, map) {
            geocoder.geocode({ 'address': address }, function (results, status) {
            console.log(results);
            var latLng = {lat: results[0].geometry.location.lat (), lng: results[0].geometry.location.lng ()};
            console.log (latLng);
            if (status == 'OK') {
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map
                });
                console.log (map);
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
         });

        }
        
            
        </script>
        <!--Load the API from the specified URL
        * The async attribute allows the browser to render the page while the API loads
        * The key parameter will contain your own API key (which is not needed for this tutorial)
        * The callback parameter executes the initMap() function
        -->
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd7kFmlWP30-21x9qH1wnWd1joYxGxW7U&callback=initMap">
        </script>
    </div>

    <!---<iframe class="mycard" width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=@Model.Address" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>-->
</div>

